##### <img src="../SDSS-Logo.png" style="display:inline; width:500px" />


# Learning Objectives
1. Understand the tuple data type in Python.
1. Immutability of tuples
1. Tuple packing/unpacking

## Sequence types
- strings and lists are examples of Python [Sequence types](https://docs.python.org/3/library/stdtypes.html#typesseq)
- Two other examples are `range()` and tuples.

## Creating tuples
### A tuple is a number of values of any type separated by commas.
### If needed, the values can be enclosed in paramtheses `()`.
### An empty tuple is a pair of parenthesis with nothing in between.

In [1]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
tuple_1 = 'Python', 1, 'language'
tuple_2 = ([1, 2, 3], 'Pop', 45)

print(tuple_1)
print(tuple_2)

('Python', 1, 'language')
([1, 2, 3], 'Pop', 45)

### There are some idiosyncrasies (that make sense when you think about it) in creating singleton tuples

In [3]:
# Is this a tuple?
x1 = 45
x2 = (45)

print(type(x1))
print(type(x2))

<class 'int'>
<class 'int'>

### so how do you create a 1 element tuple?

In [4]:
x3 = 45,
x4 = (45,)

print(type(x3))
print(type(x4))

<class 'tuple'>
<class 'tuple'>

### Elements of a tuple can be addressed by their index, just like for strings and lists

- Remember, all good computer scientists count from zero.
- So, the first element in a tuple has an offset, or index, of zero.
<br>

Assign the variable `tuple_2_val` to the element with index 2 within `tuple_2`

In [5]:
tuple_2_val = tuple_2[2]
print(tuple_2_val)

45

### tuples can be sliced to get at subsets of the tuple, just like string and lists
* Create a tuple called `my_tuple` that has the values 6, [2, 3], "This is a string", (45, 78), [72, 'Test', (89, 90)] in that order
* Get the 2rd through 4th element of `my_tuple`.

In [8]:
my_tuple = 6, [2, 3], "This is a string", (45, 78), [72, 'Test', (89, 90)]
print(my_tuple[3:])

((45, 78), [72, 'Test', (89, 90)])

### tuple packing and unpacking

- A very common way of creating and using tuples is called packing and unpacking
- we have already seen packing when creating tuples.
- unpacking tuples assigns tuple values to a comma separated list of

In [9]:
# packing
new_tuple = 6, [2, 3], "This is a string" 

# unpacking; no of variable son LHS has to be equal to number of elements in tuple
ele1, ele2, ele3 = new_tuple
print(ele1)
print(ele2)
print(ele3)

6
[2, 3]
This is a string

### Just like for strings, the `len` function gives you the number of elements in a tuple.
### And tuples can be added and multiplied by a scalar with the expected effect.

In [10]:
ingredient_tuple = 'flour', 'sugar', 'butter', 'vanilla', 'chocolate_chips' 
print(f"ingedient_tuple has {len(ingredient_tuple)} elements")

ingedient_tuple has 5 elements

In [11]:
('a', 'b', 'c') + (1, 2, 3)

('a', 'b', 'c', 1, 2, 3)

In [12]:
('cat', 24, [1, 2])*3

('cat', 24, [1, 2], 'cat', 24, [1, 2], 'cat', 24, [1, 2])

### tuples are immutable, but they can contain mutable values

In [13]:
my_tuple = 6, [2, 3], "This is a string", (45, 78), [72, 'Test', (89, 90)]
my_tuple[1] = 0

TypeError: 'tuple' object does not support item assignment

In [14]:
my_tuple[1].append(35)
print(my_tuple)

(6, [2, 3, 35], 'This is a string', (45, 78), [72, 'Test', (89, 90)])