In [2]:
import pandas as pd
import os 
import shutil

In [3]:
myFile = "CountyHealthData_2014-2015.csv"
os.path.isfile(myFile)

True

In [5]:
myData = pd.read_csv(myFile)

In [6]:
myData.shape

(6109, 64)

In [7]:
myData.dtypes

State                                object
Region                               object
Division                             object
County                               object
FIPS                                  int64
                                     ...
Other primary care providers        float64
Median household income               int64
Children eligible for free lunch    float64
Homicide rate                       float64
Inadequate social support           float64
Length: 64, dtype: object

In [8]:
myData.head()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477

In [9]:
myData.tail()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

In [10]:
myDataSample = myData.sample(3)

In [11]:
myDataSample

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3553,NE,Midwest,West North Central,Cass County,31025,31025,Insuff Data,1/1/2014,7595.0,0.082,...,NaN,0.119,0.056,9301.0,0.066,44.0,59962,0.222,NaN,0.157
4080,OH,Midwest,East North Central,Mercer County,39107,39107,Region 27,1/1/2014,5953.0,0.225,...,4.19,0.161,0.073,8914.0,NaN,17.0,52060,0.189,NaN,NaN
90,AL,South,East South Central,Dale County,1045,1045,Region 16,1/1/2014,8912.0,0.212,...,8.36,0.199,0.051,10782.0,0.126,56.0,40125,0.519,5.77,0.171

In [12]:
myData[15:20]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
15,AK,West,Pacific,Kenai Peninsula Borough,2122,2122,Region 22,1/1/2015,6917.0,0.137,...,15.94,0.278,0.159,7129.0,0.156,94.0,61629,0.287,2.7,NaN
16,AK,West,Pacific,Ketchikan Gateway Borough,2130,2130,Region 22,1/1/2014,8422.0,0.144,...,NaN,0.304,0.142,9043.0,0.161,51.0,61296,0.323,NaN,0.209
17,AK,West,Pacific,Ketchikan Gateway Borough,2130,2130,Region 22,1/1/2015,7269.0,0.144,...,12.73,0.284,0.147,7968.0,0.161,66.0,62619,0.358,NaN,NaN
18,AK,West,Pacific,Kodiak Island Borough,2150,2150,Region 22,1/1/2014,6891.0,0.132,...,NaN,0.349,0.179,7044.0,0.134,56.0,61498,0.349,NaN,0.246
19,AK,West,Pacific,Kodiak Island Borough,2150,2150,Region 22,1/1/2015,6075.0,0.132,...,10.55,0.320,0.177,7249.0,0.134,50.0,64782,0.377,NaN,NaN

In [14]:
myData.describe()

,FIPS,GEOID,Premature death,Poor or fair health,Poor physical health days,Poor mental health days,Low birthweight,Adult smoking,Adult obesity,Food environment index,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
count,6109.000000,6109.000000,5984.000000,5424.000000,5548.000000,5136.000000,5946.000000,5385.000000,6109.000000,6109.000000,...,4113.000000,6109.000000,6109.000000,6105.000000,4755.000000,5979.000000,6109.000000,5835.000000,2484.000000,2427.000000
mean,30322.714192,30322.714192,8029.289271,0.173321,3.840465,3.574474,0.082699,0.213062,0.306801,7.258615,...,13.614865,0.214728,0.083331,9454.265848,0.153712,57.342867,45401.814700,0.434171,6.307576,0.193867
std,15177.989515,15177.989515,2413.808811,0.061034,1.138438,1.026026,0.021045,0.063040,0.043049,1.233321,...,7.398738,0.065710,0.037259,1550.568986,0.055724,45.713743,11603.609355,0.166457,4.704459,0.050926
min,1001.000000,1001.000000,2398.000000,0.045000,1.100000,1.000000,0.030000,0.031000,0.120000,0.000000,...,2.320000,0.036000,0.011000,3791.000000,0.030000,0.000000,21572.000000,0.000000,0.600000,0.000000
25%,18163.000000,18163.000000,6351.500000,0.127000,3.100000,2.900000,0.070000,0.170000,0.284000,6.671000,...,8.670000,0.165000,0.057000,8379.000000,0.112000,31.000000,37588.000000,0.311500,3.200000,0.162000
50%,29133.000000,29133.000000,7707.500000,0.166000,3.700000,3.500000,0.080000,0.208000,0.309000,7.447000,...,11.990000,0.213000,0.075000,9380.000000,0.149000,48.000000,43479.000000,0.424000,5.080000,0.191000
75%,45067.000000,45067.000000,9374.250000,0.209250,4.400000,4.100000,0.090000,0.249000,0.333000,8.100000,...,16.610000,0.258000,0.101000,10412.000000,0.189000,72.000000,50884.000000,0.535000,8.000000,0.223500
max,56045.000000,56045.000000,25394.000000,0.508000,10.000000,10.100000,0.180000,0.511000,0.481000,10.000000,...,79.780000,0.525000,0.263000,21913.000000,0.414000,1348.000000,121250.000000,1.000000,51.490000,0.574000

In [15]:
myData.describe(include='all').round(2)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
count,6109,6109,6109,6109,6109.00,6109.00,6109,6109,5984.00,5424.00,...,4113.00,6109.00,6109.00,6105.00,4755.00,5979.00,6109.00,5835.00,2484.00,2427.00
unique,51,4,9,1830,NaN,NaN,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,TX,South,South Atlantic,Washington County,NaN,NaN,Insuff Data,1/1/2015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,469,2803,1175,60,NaN,NaN,1608,3062,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,30322.71,30322.71,NaN,NaN,8029.29,0.17,...,13.61,0.21,0.08,9454.27,0.15,57.34,45401.81,0.43,6.31,0.19
std,NaN,NaN,NaN,NaN,15177.99,15177.99,NaN,NaN,2413.81,0.06,...,7.40,0.07,0.04,1550.57,0.06,45.71,11603.61,0.17,4.70,0.05
min,NaN,NaN,NaN,NaN,1001.00,1001.00,NaN,NaN,2398.00,0.04,...,2.32,0.04,0.01,3791.00,0.03,0.00,21572.00,0.00,0.60,0.00
25%,NaN,NaN,NaN,NaN,18163.00,18163.00,NaN,NaN,6351.50,0.13,...,8.67,0.16,0.06,8379.00,0.11,31.00,37588.00,0.31,3.20,0.16
50%,NaN,NaN,NaN,NaN,29133.00,29133.00,NaN,NaN,7707.50,0.17,...,11.99,0.21,0.08,9380.00,0.15,48.00,43479.00,0.42,5.08,0.19
75%,NaN,NaN,NaN,NaN,45067.00,45067.00,NaN,NaN,9374.25,0.21,...,16.61,0.26,0.10,10412.00,0.19,72.00,50884.00,0.54,8.00,0.22
max,NaN,NaN,NaN,NaN,56045.00,56045.00,NaN,NaN,25394.00,0.51,...,79.78,0.52,0.26,21913.00,0.41,1348.00,121250.00,1.00,51.49,0.57

In [16]:
myData["State"][5:10]

5    AK
6    AK
7    AK
8    AK
9    AK
Name: State, dtype: object

In [17]:
myData[["State", "Year", "County", "Uninsured adults"]][20:25]

   State      Year                      County  Uninsured adults
20    AK  1/1/2014  Lake and Peninsula Borough             0.434
21    AK  1/1/2015  Lake and Peninsula Borough             0.406
22    AK  1/1/2014   Matanuska-Susitna Borough             0.266
23    AK  1/1/2015   Matanuska-Susitna Borough             0.254
24    AK  1/1/2014            Nome Census Area             0.373

In [19]:
myData.loc[20:25,["State", "Year", "County", "Uninsured adults"]]

   State      Year                      County  Uninsured adults
20    AK  1/1/2014  Lake and Peninsula Borough             0.434
21    AK  1/1/2015  Lake and Peninsula Borough             0.406
22    AK  1/1/2014   Matanuska-Susitna Borough             0.266
23    AK  1/1/2015   Matanuska-Susitna Borough             0.254
24    AK  1/1/2014            Nome Census Area             0.373
25    AK  1/1/2015            Nome Census Area             0.366

If we use the .iloc attribute before our brackets, pandas accepts two numbers separated by a comma. The first number is for rows and the second for columns. Below, we select the second row and third column.

In [21]:
myData.iloc[0:3,4:10]

   FIPS  GEOID   SMS Region      Year  Premature death  Poor or fair health
0  2016   2016  Insuff Data  1/1/2014              NaN                0.122
1  2016   2016  Insuff Data  1/1/2015              NaN                0.122
2  2020   2020    Region 22  1/1/2014           6827.0                0.125

In [23]:
print(myData.Region.shape)
print(myData.Region.dtypes)

(6109,)
object

In [24]:
myData.Region.value_counts()

Region
South        2803
Midwest      2038
West          834
Northeast     434
Name: count, dtype: int64

In [28]:
myDataSMS = myData[myData["SMS Region"] == "Insuff Data"]