In [1]:
import numpy as np
import pandas as pd

In [3]:
# Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
dates = pd.date_range("20130101", periods=8)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.026895 -0.283946  0.094253 -1.258153
2013-01-02  0.686844  0.295265  0.094457 -0.528879
2013-01-03 -0.639773 -0.809813  1.593120 -1.231361
2013-01-04 -1.213182  0.501183  0.921768  0.515709
2013-01-05  0.729109  0.557067  0.229883  0.949383
2013-01-06  0.147074 -1.049564 -1.248184  0.350107
2013-01-07 -0.249697  1.151778 -1.102767  1.643496
2013-01-08 -0.704687  0.588125  0.819251  0.723733

In [11]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2013-01-01 to 2013-01-08
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       8 non-null      float64
 1   B       8 non-null      float64
 2   C       8 non-null      float64
 3   D       8 non-null      float64
dtypes: float64(4)
memory usage: 320.0 bytes

In [16]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean  -0.283901  0.118762  0.175223  0.145504
std    0.744000  0.760296  0.975262  1.050460
min   -1.213182 -1.049564 -1.248184 -1.258153
25%   -0.785239 -0.415413 -0.205002 -0.704499
50%   -0.444735  0.398224  0.162170  0.432908
75%    0.282016  0.564831  0.844880  0.780145
max    0.729109  1.151778  1.593120  1.643496

In [15]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0