# In this exercise, we will explore the different ways to create, manipulate, and access data in Pandas DataFrames and Series
World population data adapted from the World Bank:<br />
https://data.worldbank.org/indicator/SP.POP.TOTL

## DataFrames and Series

In [2]:
import numpy as np
import pandas as pd

### From a dictionary

In [9]:
pop_dict = {
    "Country": ["Sub-Saharan Africa", "Finland", "Gabon", "Burkina Faso", "Pakistan"],
    "1960": [227948869.0, 4429634.0, 513340.0, 4783259.0, 45954226.0],
    "1970": [293900563.0, 4606307.0, 597192.0, 5611666.0, 59290872.0],
    "1980": [388793467.0, 4779535.0, 749078.0, 6932967.0, 80624057.0],
    "1990": [516629688.0, 4986431.0, 983028.0, 9131361.0, 115414069.0],
    "2000": [671212486.0, 5176209.0, 1272935.0, 11882888.0, 154369924.0],
    "2010": [879797419.0, 5363352.0, 1711105.0, 16116845.0, 194454498.0],
    "2020": [1151302081.0, 5529543.0, 2292573.0, 21522626.0, 227196741.0]
}

In [10]:
# Create df from dictionary
df = pd.DataFrame(pop_dict)
df.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [5]:
# Use name of column in brackets to return series
df["Country"]

0    Sub-Saharan Africa
1               Finland
2                 Gabon
3          Burkina Faso
4              Pakistan
Name: Country, dtype: object

In [5]:
# Can also use dot notation
df.Country

0    Sub-Saharan Africa
1               Finland
2                 Gabon
3          Burkina Faso
4              Pakistan
Name: Country, dtype: object

In [6]:
# Can't use dot notation with numbers (or spaces)
df.1960

SyntaxError: invalid syntax (95630150.py, line 2)

In [6]:
# Get a list of indices/columns
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=5, step=1)
Index(['Country', '1960', '1970', '1980', '1990', '2000', '2010', '2020'], dtype='object')

In [7]:
# Series also have indices
df["Country"].index

RangeIndex(start=0, stop=5, step=1)

In [8]:
# Can return as a list
df.columns.to_list()

['Country', '1960', '1970', '1980', '1990', '2000', '2010', '2020']

In [10]:
# Or a numpy array
df["1960"].to_numpy()

array([2.27948869e+08, 4.42963400e+06, 5.13340000e+05, 4.78325900e+06,
       4.59542260e+07])

In [11]:
# Setting a new index
df.set_index(pd.Index(["a", "b", "c", "d", "e"]))

,Country,1960,1970,1980,1990,2000,2010,2020
a,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
b,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
c,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
d,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
e,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [12]:
# Setting the index is not in place, so the df still looks the same
df.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [13]:
# If we store the return as a variable, it persists
df = df.set_index("Country")
df.head()

,1960,1970,1980,1990,2000,2010,2020
Country,,,,,,,
Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [14]:
# Reset the index. Note the old index is now a column
df = df.reset_index()
df.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

## Other ways to create a DataFrame

In [16]:
pop_lists = [
    ["Sub-Saharan Africa", 227948869.0, 293900563.0, 388793467.0, 516629688.0, 671212486.0, 879797419.0, 1151302081.0],
    ["Finland", 4429634.0, 4606307.0, 4779535.0, 4986431.0, 5176209.0, 5363352.0, 5529543.0],
    ["Gabon", 513340.0, 597192.0, 749078.0, 983028.0, 1272935.0, 1711105.0, 2292573.0],
    ["Burkina Faso", 4783259.0, 5611666.0, 6932967.0, 9131361.0, 11882888.0, 16116845.0, 21522626.0],
    ["Pakistan", 45954226.0, 59290872.0, 80624057.0, 115414069.0, 154369924.0, 194454498.0, 227196741.0]
]

In [17]:
# From list of lists
df = pd.DataFrame(pop_lists, columns=['Country', '1960', '1970', '1980', '1990', '2000', '2010', '2020'])
df.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [39]:
pop_array = np.array([[227948869.0, 293900563.0, 388793467.0, 516629688.0, 671212486.0, 879797419.0, 1151302081.0],
                      [4429634.0, 4606307.0, 4779535.0, 4986431.0, 5176209.0, 5363352.0, 5529543.0],
                      [513340.0, 597192.0, 749078.0, 983028.0, 1272935.0, 1711105.0, 2292573.0],
                      [4783259.0, 5611666.0, 6932967.0, 9131361.0, 11882888.0, 16116845.0, 21522626.0],
                      [45954226.0, 59290872.0, 80624057.0, 115414069.0, 154369924.0, 194454498.0, 227196741.0]])

In [40]:
# Above doesn't include the countries
countries = ["Sub-Saharan Africa", "Finland", "Gabon", "Burkina Faso", "Pakistan"]

In [41]:
# From numpy array
df = pd.DataFrame(pop_array, columns=['1960', '1970', '1980', '1990', '2000', '2010', '2020']) #, index=countries)
df.head()

,1960,1970,1980,1990,2000,2010,2020
0,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

In [42]:
# Create new column from a list
df["Country"] = countries
df.head()

,1960,1970,1980,1990,2000,2010,2020,Country
0,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09,Sub-Saharan Africa
1,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06,Finland
2,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06,Gabon
3,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07,Burkina Faso
4,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08,Pakistan

# Moving columns

In [43]:
# Want to move country column to start
columns = df.columns.to_list()
columns.insert(0, columns.pop())
print(columns)

['Country', '1960', '1970', '1980', '1990', '2000', '2010', '2020']

In [44]:
# Passing the list to the df in brackets returns a df with those columns in the order they were listed
df = df[columns]
df.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Sub-Saharan Africa,227948869.0,293900563.0,388793467.0,516629688.0,671212486.0,879797419.0,1.151302e+09
1,Finland,4429634.0,4606307.0,4779535.0,4986431.0,5176209.0,5363352.0,5.529543e+06
2,Gabon,513340.0,597192.0,749078.0,983028.0,1272935.0,1711105.0,2.292573e+06
3,Burkina Faso,4783259.0,5611666.0,6932967.0,9131361.0,11882888.0,16116845.0,2.152263e+07
4,Pakistan,45954226.0,59290872.0,80624057.0,115414069.0,154369924.0,194454498.0,2.271967e+08

# Loading data

In [57]:
# Load csv file
data = pd.read_csv("world_pop.csv")
data.head()

,Country,1960,1970,1980,1990,2000,2010,2020
0,Aruba,54608.0,59106.0,62267.0,65712.0,89101.0,100341.0,106585.0
1,Africa Eastern and Southern,130692579.0,172475766.0,230967858.0,309890664.0,401600588.0,523459657.0,685112979.0
2,Afghanistan,8622466.0,10752971.0,12486631.0,10694796.0,19542982.0,28189672.0,38972230.0
3,Africa Western and Central,97256290.0,121424797.0,157825609.0,206739024.0,269611898.0,356337762.0,466189102.0
4,Angola,5357195.0,6029700.0,8330047.0,11828638.0,16394062.0,23364185.0,33428486.0

# DIDN'T GET TO THIS STUFF

# Sampling data

In [79]:
# Random sample
df2 = data.sample(50, random_state=12345)
df2.head()

,Country,1960,1970,1980,1990,2000,2010,2020
229,Chad,3028688.0,3667394.0,4408230.0,5827069.0,8259137.0,11894727.0,16644701.0
175,Nicaragua,1789684.0,2444767.0,3303309.0,4227820.0,5123222.0,5855734.0,6755895.0
199,French Polynesia,84851.0,117891.0,163591.0,211089.0,250927.0,283788.0,301920.0
220,Suriname,268396.0,379918.0,375112.0,412756.0,478998.0,546080.0,607065.0
50,Cuba,7267395.0,8869636.0,9809107.0,10626680.0,11105791.0,11290417.0,11300698.0

In [1]:
df2.info()

NameError: name 'df2' is not defined

In [86]:
# Rename column (passed as dictionary)
# try:
df2 = df2.rename(columns={"Country": "Country Name"})
df2.head()
# except:
# 	print("No colum as Country")

,Country Name,1960,1970,1980,1990,2000,2010,2020
229,Chad,3028688.0,3667394.0,4408230.0,5827069.0,8259137.0,11894727.0,16644701.0
175,Nicaragua,1789684.0,2444767.0,3303309.0,4227820.0,5123222.0,5855734.0,6755895.0
199,French Polynesia,84851.0,117891.0,163591.0,211089.0,250927.0,283788.0,301920.0
220,Suriname,268396.0,379918.0,375112.0,412756.0,478998.0,546080.0,607065.0
50,Cuba,7267395.0,8869636.0,9809107.0,10626680.0,11105791.0,11290417.0,11300698.0

In [81]:
# Remove column
try:
	df2 = df2.drop(columns=["Country Name 1"])
	df2.head()
except:
	print("No column: Country Name 1")

No column: Country Name 1

In [85]:
# Resetting index makes old index a column
df2.reset_index()

,index,Country Name,1960,1970,1980,1990,2000,2010,2020
0,229,Chad,3.028688e+06,3.667394e+06,4.408230e+06,5.827069e+06,8.259137e+06,1.189473e+07,1.664470e+07
1,175,Nicaragua,1.789684e+06,2.444767e+06,3.303309e+06,4.227820e+06,5.123222e+06,5.855734e+06,6.755895e+06
2,199,French Polynesia,8.485100e+04,1.178910e+05,1.635910e+05,2.110890e+05,2.509270e+05,2.837880e+05,3.019200e+05
3,220,Suriname,2.683960e+05,3.799180e+05,3.751120e+05,4.127560e+05,4.789980e+05,5.460800e+05,6.070650e+05
4,50,Cuba,7.267395e+06,8.869636e+06,9.809107e+06,1.062668e+07,1.110579e+07,1.129042e+07,1.130070e+07
5,140,Low & middle income,2.243179e+09,2.805573e+09,3.469529e+09,4.246144e+09,5.017754e+09,5.760865e+09,6.550747e+09
6,134,Latin America & Caribbean,2.191426e+08,2.857790e+08,3.614512e+08,4.415975e+08,5.212811e+08,5.888739e+08,6.505350e+08
7,190,Poland,2.963745e+07,3.266430e+07,3.557415e+07,3.811078e+07,3.825863e+07,3.804279e+07,3.789907e+07
8,85,Guinea,3.516814e+06,4.222374e+06,4.972609e+06,6.354145e+06,8.336967e+06,1.027073e+07,1.320515e+07
9,219,Sao Tome and Principe,6.803800e+04,7.758300e+04,9.721000e+04,1.203430e+05,1.437140e+05,1.821380e+05,2.186410e+05
10,99,Croatia,4.140181e+06,4.412252e+06,4.599782e+06,4.777368e+06,4.468302e+06,4.295427e+06,4.047680e+06
11,71,Estonia,1.211537e+06,1.360076e+06,1.477219e+06,1.569174e+06,1.396985e+06,1.331475e+06,1.329522e+06
12,73,European Union,3.569471e+08,3.861165e+08,4.077608e+08,4.203089e+08,4.293425e+08,4.415526e+08,4.476923e+08
13,150,Moldova,2.074015e+06,2.456514e+06,2.716068e+06,2.965978e+06,2.924668e+06,2.862354e+06,2.635130e+06
14,193,"Korea, Dem. People's Rep.",1.165567e+07,1.499688e+07,1.797365e+07,2.079952e+07,2.336706e+07,2.468644e+07,2.586747e+07
15,237,Timor-Leste,4.685730e+05,5.540210e+05,6.422240e+05,7.581060e+05,8.783600e+05,1.088486e+06,1.299995e+06
16,20,Bangladesh,5.039643e+07,6.754186e+07,8.392976e+07,1.071477e+08,1.291933e+08,1.483911e+08,1.674210e+08
17,68,Euro area,2.652450e+08,2.871324e+08,3.020692e+08,3.110935e+08,3.213246e+08,3.361716e+08,3.429134e+08
18,47,Cabo Verde,2.098490e+05,2.872620e+05,3.172340e+05,3.645630e+05,4.582510e+05,5.212120e+05,5.826400e+05
19,128,Latin America & Caribbean (excluding high income),1.947111e+08,2.550493e+08,3.237971e+08,3.963286e+08,4.681254e+08,5.289783e+08,5.880112e+08
20,164,Northern Mariana Islands,8.702000e+03,1.014300e+04,1.761300e+04,4.800200e+04,8.033800e+04,5.408700e+04,4.958700e+04
21,112,"Iran, Islamic Rep.",2.138881e+07,2.844970e+07,3.852066e+07,5.579363e+07,6.554438e+07,7.537386e+07,8.729019e+07
22,243,Tunisia,4.195467e+06,5.047404e+06,6.578156e+06,8.440023e+06,9.893316e+06,1.089506e+07,1.216172e+07
23,205,Saudi Arabia,4.165563e+06,6.106191e+06,1.017171e+07,1.600476e+07,2.154739e+07,2.941193e+07,3.599711e+07
24,173,Niger,3.497431e+06,4.669708e+06,6.173177e+06,8.370648e+06,1.162266e+07,1.664754e+07,2.433364e+07
25,57,Dominica,5.937900e+04,6.889500e+04,7.297800e+04,6.948100e+04,6.834600e+04,6.875500e+04,7.199500e+04
26,248,Ukraine,4.276725e+07,4.727909e+07,4.997392e+07,5.189140e+07,4.917650e+07,4.587074e+07,4.413205e+07
27,157,North Macedonia,1.462368e+06,1.656783e+06,1.907023e+06,2.044174e+06,2.026350e+06,2.055004e+06,2.072531e+06
28,18,Benin,2.512284e+06,3.023443e+06,3.833939e+06,5.133419e+06,6.998023e+06,9.445710e+06,1.264312e+07
29,211,El Salvador,2.779327e+06,3.619090e+06,4.508992e+06,5.367179e+06,5.958482e+06,6.114034e+06,6.292731e+06
30,209,Solomon Islands,1.334400e+05,1.728330e+05,2.336680e+05,3.241710e+05,4.299780e+05,5.403940e+05,6.911910e+05
31,191,Pre-demographic dividend,1.884849e+08,2.417265e+08,3.208903e+08,4.171448e+08,5.530892e+08,7.395260e+08,9.842134e+08
32,117,Jamaica,1.642331e+06,1.859091e+06,2.135546e+06,2.392030e+06,2.612205e+06,2.733896e+06,2.820436e+06
33,30,Barbados,2.325500e+05,2.413970e+05,2.535750e+05,2.588680e+05,2.646570e+05,2.747110e+05,2.806930e+05
34,239,Tonga,6.742800e+04,8.648400e+04,9.670800e+04,9.872700e+04,1.026030e+05,1.073830e+05,1.052540e+05
35,33,Botswana,5.128650e+05,5.922440e+05,9.385780e+05,1.341474e+06,1.726985e+06,2.091664e+06,2.546402e+06
36,151,Madagascar,5.073342e+06,6.639751e+06,8.948162e+06,1.188276e+07,1.621643e+07,2.173105e+07,2.822518e+07
37,179,Nauru,4.582000e+03,6.663000e+03,7.635000e+03,9.598000e+03,1.037700e+04,1.024100e+04,1.231500e+04
38,235,Turkmenistan,1.602052e+06,2.201432e+06,2.862903e+06,3.720278e+06,4.569132e+06,5.267970e+06,6.250438e+06
39,122,Kyrgyz Republic,2.172300e+06,2.959900e+06,3.617400e+06,4.391200e+06,4.898400e+06,5.447900e+06,6.579900e+06
40,54,Czechia,9.602006e+06,9.858071e+06,1.030419e+07,1.033336e+07,1.025506e+07,1.047441e+07,1.069786e+07
41,95,High income,7.801386e+08,8.732819e+08,9.576090e+08,1.027501e+09,1.102140e+09,1.180459e+09,1.241726e+09
42,132,Libya,1.426986e+06,1.909177e+06,2.962720e+06,4.236983e+06,5.154790e+06,6.491988e+06,6.653942e+06
43,195,Paraguay,1.894829e+06,2.408787e+06,3.078912e+06,4.059195e+06,5.123819e+06,5.768613e+06,6.618695e+06
44,192,Puerto Rico,2.358000e+06,2.718000e+06,3.206000e+06,3.537000e+06,3.810605e+06,3.721525e+06,3.281557e+06
45,52,Cayman Islands,8.473000e+03,1.053300e+04,1.710000e+04,2.602700e+04,3.965800e+04,5.407400e+04,6.731100e+04
46,162,Montenegro,4.805790e+05,5.124070e+05,5.726080e+05,6.063720e+05,6.049500e+05,6.194280e+05,6.213060e+05
47,251,United States,1.806710e+08,2.050520e+08,2.272250e+08,2.496230e+08,2.821624e+08,3.093271e+08,3.315115e+08
48,9,Argentina,2.034974e+07,2.384280e+07,2.802480e+07,3.263766e+07,3.707077e+07,4.078845e+07,4.537676e+07
49,204,South Asia,5.711924e+08,7.203992e+08,9.049931e+08,1.141313e+09,1.406945e+09,1.660546e+09,1.882532e+09

In [88]:
# Use drop argument to prevent that
df2 = df2.reset_index(drop=True)
df2.head()

,Country Name,1960,1970,1980,1990,2000,2010,2020
0,Chad,3028688.0,3667394.0,4408230.0,5827069.0,8259137.0,11894727.0,16644701.0
1,Nicaragua,1789684.0,2444767.0,3303309.0,4227820.0,5123222.0,5855734.0,6755895.0
2,French Polynesia,84851.0,117891.0,163591.0,211089.0,250927.0,283788.0,301920.0
3,Suriname,268396.0,379918.0,375112.0,412756.0,478998.0,546080.0,607065.0
4,Cuba,7267395.0,8869636.0,9809107.0,10626680.0,11105791.0,11290417.0,11300698.0

In [91]:
# Concatenate two dfs. Note the index from each carries over
pd.concat([df, df2], axis=0)

,Country,1960,1970,1980,1990,2000,2010,2020,Country Name
0,Sub-Saharan Africa,2.279489e+08,2.939006e+08,3.887935e+08,5.166297e+08,6.712125e+08,8.797974e+08,1.151302e+09,NaN
1,Finland,4.429634e+06,4.606307e+06,4.779535e+06,4.986431e+06,5.176209e+06,5.363352e+06,5.529543e+06,NaN
2,Gabon,5.133400e+05,5.971920e+05,7.490780e+05,9.830280e+05,1.272935e+06,1.711105e+06,2.292573e+06,NaN
3,Burkina Faso,4.783259e+06,5.611666e+06,6.932967e+06,9.131361e+06,1.188289e+07,1.611684e+07,2.152263e+07,NaN
4,Pakistan,4.595423e+07,5.929087e+07,8.062406e+07,1.154141e+08,1.543699e+08,1.944545e+08,2.271967e+08,NaN
0,NaN,3.028688e+06,3.667394e+06,4.408230e+06,5.827069e+06,8.259137e+06,1.189473e+07,1.664470e+07,Chad
1,NaN,1.789684e+06,2.444767e+06,3.303309e+06,4.227820e+06,5.123222e+06,5.855734e+06,6.755895e+06,Nicaragua
2,NaN,8.485100e+04,1.178910e+05,1.635910e+05,2.110890e+05,2.509270e+05,2.837880e+05,3.019200e+05,French Polynesia
3,NaN,2.683960e+05,3.799180e+05,3.751120e+05,4.127560e+05,4.789980e+05,5.460800e+05,6.070650e+05,Suriname
4,NaN,7.267395e+06,8.869636e+06,9.809107e+06,1.062668e+07,1.110579e+07,1.129042e+07,1.130070e+07,Cuba
5,NaN,2.243179e+09,2.805573e+09,3.469529e+09,4.246144e+09,5.017754e+09,5.760865e+09,6.550747e+09,Low & middle income
6,NaN,2.191426e+08,2.857790e+08,3.614512e+08,4.415975e+08,5.212811e+08,5.888739e+08,6.505350e+08,Latin America & Caribbean
7,NaN,2.963745e+07,3.266430e+07,3.557415e+07,3.811078e+07,3.825863e+07,3.804279e+07,3.789907e+07,Poland
8,NaN,3.516814e+06,4.222374e+06,4.972609e+06,6.354145e+06,8.336967e+06,1.027073e+07,1.320515e+07,Guinea
9,NaN,6.803800e+04,7.758300e+04,9.721000e+04,1.203430e+05,1.437140e+05,1.821380e+05,2.186410e+05,Sao Tome and Principe
10,NaN,4.140181e+06,4.412252e+06,4.599782e+06,4.777368e+06,4.468302e+06,4.295427e+06,4.047680e+06,Croatia
11,NaN,1.211537e+06,1.360076e+06,1.477219e+06,1.569174e+06,1.396985e+06,1.331475e+06,1.329522e+06,Estonia
12,NaN,3.569471e+08,3.861165e+08,4.077608e+08,4.203089e+08,4.293425e+08,4.415526e+08,4.476923e+08,European Union
13,NaN,2.074015e+06,2.456514e+06,2.716068e+06,2.965978e+06,2.924668e+06,2.862354e+06,2.635130e+06,Moldova
14,NaN,1.165567e+07,1.499688e+07,1.797365e+07,2.079952e+07,2.336706e+07,2.468644e+07,2.586747e+07,"Korea, Dem. People's Rep."
15,NaN,4.685730e+05,5.540210e+05,6.422240e+05,7.581060e+05,8.783600e+05,1.088486e+06,1.299995e+06,Timor-Leste
16,NaN,5.039643e+07,6.754186e+07,8.392976e+07,1.071477e+08,1.291933e+08,1.483911e+08,1.674210e+08,Bangladesh
17,NaN,2.652450e+08,2.871324e+08,3.020692e+08,3.110935e+08,3.213246e+08,3.361716e+08,3.429134e+08,Euro area
18,NaN,2.098490e+05,2.872620e+05,3.172340e+05,3.645630e+05,4.582510e+05,5.212120e+05,5.826400e+05,Cabo Verde
19,NaN,1.947111e+08,2.550493e+08,3.237971e+08,3.963286e+08,4.681254e+08,5.289783e+08,5.880112e+08,Latin America & Caribbean (excluding high income)
20,NaN,8.702000e+03,1.014300e+04,1.761300e+04,4.800200e+04,8.033800e+04,5.408700e+04,4.958700e+04,Northern Mariana Islands
21,NaN,2.138881e+07,2.844970e+07,3.852066e+07,5.579363e+07,6.554438e+07,7.537386e+07,8.729019e+07,"Iran, Islamic Rep."
22,NaN,4.195467e+06,5.047404e+06,6.578156e+06,8.440023e+06,9.893316e+06,1.089506e+07,1.216172e+07,Tunisia
23,NaN,4.165563e+06,6.106191e+06,1.017171e+07,1.600476e+07,2.154739e+07,2.941193e+07,3.599711e+07,Saudi Arabia
24,NaN,3.497431e+06,4.669708e+06,6.173177e+06,8.370648e+06,1.162266e+07,1.664754e+07,2.433364e+07,Niger
25,NaN,5.937900e+04,6.889500e+04,7.297800e+04,6.948100e+04,6.834600e+04,6.875500e+04,7.199500e+04,Dominica
26,NaN,4.276725e+07,4.727909e+07,4.997392e+07,5.189140e+07,4.917650e+07,4.587074e+07,4.413205e+07,Ukraine
27,NaN,1.462368e+06,1.656783e+06,1.907023e+06,2.044174e+06,2.026350e+06,2.055004e+06,2.072531e+06,North Macedonia
28,NaN,2.512284e+06,3.023443e+06,3.833939e+06,5.133419e+06,6.998023e+06,9.445710e+06,1.264312e+07,Benin
29,NaN,2.779327e+06,3.619090e+06,4.508992e+06,5.367179e+06,5.958482e+06,6.114034e+06,6.292731e+06,El Salvador
30,NaN,1.334400e+05,1.728330e+05,2.336680e+05,3.241710e+05,4.299780e+05,5.403940e+05,6.911910e+05,Solomon Islands
31,NaN,1.884849e+08,2.417265e+08,3.208903e+08,4.171448e+08,5.530892e+08,7.395260e+08,9.842134e+08,Pre-demographic dividend
32,NaN,1.642331e+06,1.859091e+06,2.135546e+06,2.392030e+06,2.612205e+06,2.733896e+06,2.820436e+06,Jamaica
33,NaN,2.325500e+05,2.413970e+05,2.535750e+05,2.588680e+05,2.646570e+05,2.747110e+05,2.806930e+05,Barbados
34,NaN,6.742800e+04,8.648400e+04,9.670800e+04,9.872700e+04,1.026030e+05,1.073830e+05,1.052540e+05,Tonga
35,NaN,5.128650e+05,5.922440e+05,9.385780e+05,1.341474e+06,1.726985e+06,2.091664e+06,2.546402e+06,Botswana
36,NaN,5.073342e+06,6.639751e+06,8.948162e+06,1.188276e+07,1.621643e+07,2.173105e+07,2.822518e+07,Madagascar
37,NaN,4.582000e+03,6.663000e+03,7.635000e+03,9.598000e+03,1.037700e+04,1.024100e+04,1.231500e+04,Nauru
38,NaN,1.602052e+06,2.201432e+06,2.862903e+06,3.720278e+06,4.569132e+06,5.267970e+06,6.250438e+06,Turkmenistan
39,NaN,2.172300e+06,2.959900e+06,3.617400e+06,4.391200e+06,4.898400e+06,5.447900e+06,6.579900e+06,Kyrgyz Republic
40,NaN,9.602006e+06,9.858071e+06,1.030419e+07,1.033336e+07,1.025506e+07,1.047441e+07,1.069786e+07,Czechia
41,NaN,7.801386e+08,8.732819e+08,9.576090e+08,1.027501e+09,1.102140e+09,1.180459e+09,1.241726e+09,High income
42,NaN,1.426986e+06,1.909177e+06,2.962720e+06,4.236983e+06,5.154790e+06,6.491988e+06,6.653942e+06,Libya
43,NaN,1.894829e+06,2.408787e+06,3.078912e+06,4.059195e+06,5.123819e+06,5.768613e+06,6.618695e+06,Paraguay
44,NaN,2.358000e+06,2.718000e+06,3.206000e+06,3.537000e+06,3.810605e+06,3.721525e+06,3.281557e+06,Puerto Rico
45,NaN,8.473000e+03,1.053300e+04,1.710000e+04,2.602700e+04,3.965800e+04,5.407400e+04,6.731100e+04,Cayman Islands
46,NaN,4.805790e+05,5.124070e+05,5.726080e+05,6.063720e+05,6.049500e+05,6.194280e+05,6.213060e+05,Montenegro
47,NaN,1.806710e+08,2.050520e+08,2.272250e+08,2.496230e+08,2.821624e+08,3.093271e+08,3.315115e+08,United States
48,NaN,2.034974e+07,2.384280e+07,2.802480e+07,3.263766e+07,3.707077e+07,4.078845e+07,4.537676e+07,Argentina
49,NaN,5.711924e+08,7.203992e+08,9.049931e+08,1.141313e+09,1.406945e+09,1.660546e+09,1.882532e+09,South Asia

In [90]:
# Ignore index to make unique indices
pd.concat([df, df2], axis=0, ignore_index=True)

,Country,1960,1970,1980,1990,2000,2010,2020,Country Name
0,Sub-Saharan Africa,2.279489e+08,2.939006e+08,3.887935e+08,5.166297e+08,6.712125e+08,8.797974e+08,1.151302e+09,NaN
1,Finland,4.429634e+06,4.606307e+06,4.779535e+06,4.986431e+06,5.176209e+06,5.363352e+06,5.529543e+06,NaN
2,Gabon,5.133400e+05,5.971920e+05,7.490780e+05,9.830280e+05,1.272935e+06,1.711105e+06,2.292573e+06,NaN
3,Burkina Faso,4.783259e+06,5.611666e+06,6.932967e+06,9.131361e+06,1.188289e+07,1.611684e+07,2.152263e+07,NaN
4,Pakistan,4.595423e+07,5.929087e+07,8.062406e+07,1.154141e+08,1.543699e+08,1.944545e+08,2.271967e+08,NaN
5,NaN,3.028688e+06,3.667394e+06,4.408230e+06,5.827069e+06,8.259137e+06,1.189473e+07,1.664470e+07,Chad
6,NaN,1.789684e+06,2.444767e+06,3.303309e+06,4.227820e+06,5.123222e+06,5.855734e+06,6.755895e+06,Nicaragua
7,NaN,8.485100e+04,1.178910e+05,1.635910e+05,2.110890e+05,2.509270e+05,2.837880e+05,3.019200e+05,French Polynesia
8,NaN,2.683960e+05,3.799180e+05,3.751120e+05,4.127560e+05,4.789980e+05,5.460800e+05,6.070650e+05,Suriname
9,NaN,7.267395e+06,8.869636e+06,9.809107e+06,1.062668e+07,1.110579e+07,1.129042e+07,1.130070e+07,Cuba
10,NaN,2.243179e+09,2.805573e+09,3.469529e+09,4.246144e+09,5.017754e+09,5.760865e+09,6.550747e+09,Low & middle income
11,NaN,2.191426e+08,2.857790e+08,3.614512e+08,4.415975e+08,5.212811e+08,5.888739e+08,6.505350e+08,Latin America & Caribbean
12,NaN,2.963745e+07,3.266430e+07,3.557415e+07,3.811078e+07,3.825863e+07,3.804279e+07,3.789907e+07,Poland
13,NaN,3.516814e+06,4.222374e+06,4.972609e+06,6.354145e+06,8.336967e+06,1.027073e+07,1.320515e+07,Guinea
14,NaN,6.803800e+04,7.758300e+04,9.721000e+04,1.203430e+05,1.437140e+05,1.821380e+05,2.186410e+05,Sao Tome and Principe
15,NaN,4.140181e+06,4.412252e+06,4.599782e+06,4.777368e+06,4.468302e+06,4.295427e+06,4.047680e+06,Croatia
16,NaN,1.211537e+06,1.360076e+06,1.477219e+06,1.569174e+06,1.396985e+06,1.331475e+06,1.329522e+06,Estonia
17,NaN,3.569471e+08,3.861165e+08,4.077608e+08,4.203089e+08,4.293425e+08,4.415526e+08,4.476923e+08,European Union
18,NaN,2.074015e+06,2.456514e+06,2.716068e+06,2.965978e+06,2.924668e+06,2.862354e+06,2.635130e+06,Moldova
19,NaN,1.165567e+07,1.499688e+07,1.797365e+07,2.079952e+07,2.336706e+07,2.468644e+07,2.586747e+07,"Korea, Dem. People's Rep."
20,NaN,4.685730e+05,5.540210e+05,6.422240e+05,7.581060e+05,8.783600e+05,1.088486e+06,1.299995e+06,Timor-Leste
21,NaN,5.039643e+07,6.754186e+07,8.392976e+07,1.071477e+08,1.291933e+08,1.483911e+08,1.674210e+08,Bangladesh
22,NaN,2.652450e+08,2.871324e+08,3.020692e+08,3.110935e+08,3.213246e+08,3.361716e+08,3.429134e+08,Euro area
23,NaN,2.098490e+05,2.872620e+05,3.172340e+05,3.645630e+05,4.582510e+05,5.212120e+05,5.826400e+05,Cabo Verde
24,NaN,1.947111e+08,2.550493e+08,3.237971e+08,3.963286e+08,4.681254e+08,5.289783e+08,5.880112e+08,Latin America & Caribbean (excluding high income)
25,NaN,8.702000e+03,1.014300e+04,1.761300e+04,4.800200e+04,8.033800e+04,5.408700e+04,4.958700e+04,Northern Mariana Islands
26,NaN,2.138881e+07,2.844970e+07,3.852066e+07,5.579363e+07,6.554438e+07,7.537386e+07,8.729019e+07,"Iran, Islamic Rep."
27,NaN,4.195467e+06,5.047404e+06,6.578156e+06,8.440023e+06,9.893316e+06,1.089506e+07,1.216172e+07,Tunisia
28,NaN,4.165563e+06,6.106191e+06,1.017171e+07,1.600476e+07,2.154739e+07,2.941193e+07,3.599711e+07,Saudi Arabia
29,NaN,3.497431e+06,4.669708e+06,6.173177e+06,8.370648e+06,1.162266e+07,1.664754e+07,2.433364e+07,Niger
30,NaN,5.937900e+04,6.889500e+04,7.297800e+04,6.948100e+04,6.834600e+04,6.875500e+04,7.199500e+04,Dominica
31,NaN,4.276725e+07,4.727909e+07,4.997392e+07,5.189140e+07,4.917650e+07,4.587074e+07,4.413205e+07,Ukraine
32,NaN,1.462368e+06,1.656783e+06,1.907023e+06,2.044174e+06,2.026350e+06,2.055004e+06,2.072531e+06,North Macedonia
33,NaN,2.512284e+06,3.023443e+06,3.833939e+06,5.133419e+06,6.998023e+06,9.445710e+06,1.264312e+07,Benin
34,NaN,2.779327e+06,3.619090e+06,4.508992e+06,5.367179e+06,5.958482e+06,6.114034e+06,6.292731e+06,El Salvador
35,NaN,1.334400e+05,1.728330e+05,2.336680e+05,3.241710e+05,4.299780e+05,5.403940e+05,6.911910e+05,Solomon Islands
36,NaN,1.884849e+08,2.417265e+08,3.208903e+08,4.171448e+08,5.530892e+08,7.395260e+08,9.842134e+08,Pre-demographic dividend
37,NaN,1.642331e+06,1.859091e+06,2.135546e+06,2.392030e+06,2.612205e+06,2.733896e+06,2.820436e+06,Jamaica
38,NaN,2.325500e+05,2.413970e+05,2.535750e+05,2.588680e+05,2.646570e+05,2.747110e+05,2.806930e+05,Barbados
39,NaN,6.742800e+04,8.648400e+04,9.670800e+04,9.872700e+04,1.026030e+05,1.073830e+05,1.052540e+05,Tonga
40,NaN,5.128650e+05,5.922440e+05,9.385780e+05,1.341474e+06,1.726985e+06,2.091664e+06,2.546402e+06,Botswana
41,NaN,5.073342e+06,6.639751e+06,8.948162e+06,1.188276e+07,1.621643e+07,2.173105e+07,2.822518e+07,Madagascar
42,NaN,4.582000e+03,6.663000e+03,7.635000e+03,9.598000e+03,1.037700e+04,1.024100e+04,1.231500e+04,Nauru
43,NaN,1.602052e+06,2.201432e+06,2.862903e+06,3.720278e+06,4.569132e+06,5.267970e+06,6.250438e+06,Turkmenistan
44,NaN,2.172300e+06,2.959900e+06,3.617400e+06,4.391200e+06,4.898400e+06,5.447900e+06,6.579900e+06,Kyrgyz Republic
45,NaN,9.602006e+06,9.858071e+06,1.030419e+07,1.033336e+07,1.025506e+07,1.047441e+07,1.069786e+07,Czechia
46,NaN,7.801386e+08,8.732819e+08,9.576090e+08,1.027501e+09,1.102140e+09,1.180459e+09,1.241726e+09,High income
47,NaN,1.426986e+06,1.909177e+06,2.962720e+06,4.236983e+06,5.154790e+06,6.491988e+06,6.653942e+06,Libya
48,NaN,1.894829e+06,2.408787e+06,3.078912e+06,4.059195e+06,5.123819e+06,5.768613e+06,6.618695e+06,Paraguay
49,NaN,2.358000e+06,2.718000e+06,3.206000e+06,3.537000e+06,3.810605e+06,3.721525e+06,3.281557e+06,Puerto Rico
50,NaN,8.473000e+03,1.053300e+04,1.710000e+04,2.602700e+04,3.965800e+04,5.407400e+04,6.731100e+04,Cayman Islands
51,NaN,4.805790e+05,5.124070e+05,5.726080e+05,6.063720e+05,6.049500e+05,6.194280e+05,6.213060e+05,Montenegro
52,NaN,1.806710e+08,2.050520e+08,2.272250e+08,2.496230e+08,2.821624e+08,3.093271e+08,3.315115e+08,United States
53,NaN,2.034974e+07,2.384280e+07,2.802480e+07,3.263766e+07,3.707077e+07,4.078845e+07,4.537676e+07,Argentina
54,NaN,5.711924e+08,7.203992e+08,9.049931e+08,1.141313e+09,1.406945e+09,1.660546e+09,1.882532e+09,South Asia

In [93]:
# What happens if you concatenate dfs with different columns?
df3 = df.drop(columns=["1980"])
df4 = df2.drop(columns=["1990"])
pd.concat([df3, df4], ignore_index=True)

,Country,1960,1970,1990,2000,2010,2020,Country Name,1980
0,Sub-Saharan Africa,2.279489e+08,2.939006e+08,516629688.0,6.712125e+08,8.797974e+08,1.151302e+09,NaN,NaN
1,Finland,4.429634e+06,4.606307e+06,4986431.0,5.176209e+06,5.363352e+06,5.529543e+06,NaN,NaN
2,Gabon,5.133400e+05,5.971920e+05,983028.0,1.272935e+06,1.711105e+06,2.292573e+06,NaN,NaN
3,Burkina Faso,4.783259e+06,5.611666e+06,9131361.0,1.188289e+07,1.611684e+07,2.152263e+07,NaN,NaN
4,Pakistan,4.595423e+07,5.929087e+07,115414069.0,1.543699e+08,1.944545e+08,2.271967e+08,NaN,NaN
5,NaN,3.028688e+06,3.667394e+06,NaN,8.259137e+06,1.189473e+07,1.664470e+07,Chad,4.408230e+06
6,NaN,1.789684e+06,2.444767e+06,NaN,5.123222e+06,5.855734e+06,6.755895e+06,Nicaragua,3.303309e+06
7,NaN,8.485100e+04,1.178910e+05,NaN,2.509270e+05,2.837880e+05,3.019200e+05,French Polynesia,1.635910e+05
8,NaN,2.683960e+05,3.799180e+05,NaN,4.789980e+05,5.460800e+05,6.070650e+05,Suriname,3.751120e+05
9,NaN,7.267395e+06,8.869636e+06,NaN,1.110579e+07,1.129042e+07,1.130070e+07,Cuba,9.809107e+06
10,NaN,2.243179e+09,2.805573e+09,NaN,5.017754e+09,5.760865e+09,6.550747e+09,Low & middle income,3.469529e+09
11,NaN,2.191426e+08,2.857790e+08,NaN,5.212811e+08,5.888739e+08,6.505350e+08,Latin America & Caribbean,3.614512e+08
12,NaN,2.963745e+07,3.266430e+07,NaN,3.825863e+07,3.804279e+07,3.789907e+07,Poland,3.557415e+07
13,NaN,3.516814e+06,4.222374e+06,NaN,8.336967e+06,1.027073e+07,1.320515e+07,Guinea,4.972609e+06
14,NaN,6.803800e+04,7.758300e+04,NaN,1.437140e+05,1.821380e+05,2.186410e+05,Sao Tome and Principe,9.721000e+04
15,NaN,4.140181e+06,4.412252e+06,NaN,4.468302e+06,4.295427e+06,4.047680e+06,Croatia,4.599782e+06
16,NaN,1.211537e+06,1.360076e+06,NaN,1.396985e+06,1.331475e+06,1.329522e+06,Estonia,1.477219e+06
17,NaN,3.569471e+08,3.861165e+08,NaN,4.293425e+08,4.415526e+08,4.476923e+08,European Union,4.077608e+08
18,NaN,2.074015e+06,2.456514e+06,NaN,2.924668e+06,2.862354e+06,2.635130e+06,Moldova,2.716068e+06
19,NaN,1.165567e+07,1.499688e+07,NaN,2.336706e+07,2.468644e+07,2.586747e+07,"Korea, Dem. People's Rep.",1.797365e+07
20,NaN,4.685730e+05,5.540210e+05,NaN,8.783600e+05,1.088486e+06,1.299995e+06,Timor-Leste,6.422240e+05
21,NaN,5.039643e+07,6.754186e+07,NaN,1.291933e+08,1.483911e+08,1.674210e+08,Bangladesh,8.392976e+07
22,NaN,2.652450e+08,2.871324e+08,NaN,3.213246e+08,3.361716e+08,3.429134e+08,Euro area,3.020692e+08
23,NaN,2.098490e+05,2.872620e+05,NaN,4.582510e+05,5.212120e+05,5.826400e+05,Cabo Verde,3.172340e+05
24,NaN,1.947111e+08,2.550493e+08,NaN,4.681254e+08,5.289783e+08,5.880112e+08,Latin America & Caribbean (excluding high income),3.237971e+08
25,NaN,8.702000e+03,1.014300e+04,NaN,8.033800e+04,5.408700e+04,4.958700e+04,Northern Mariana Islands,1.761300e+04
26,NaN,2.138881e+07,2.844970e+07,NaN,6.554438e+07,7.537386e+07,8.729019e+07,"Iran, Islamic Rep.",3.852066e+07
27,NaN,4.195467e+06,5.047404e+06,NaN,9.893316e+06,1.089506e+07,1.216172e+07,Tunisia,6.578156e+06
28,NaN,4.165563e+06,6.106191e+06,NaN,2.154739e+07,2.941193e+07,3.599711e+07,Saudi Arabia,1.017171e+07
29,NaN,3.497431e+06,4.669708e+06,NaN,1.162266e+07,1.664754e+07,2.433364e+07,Niger,6.173177e+06
30,NaN,5.937900e+04,6.889500e+04,NaN,6.834600e+04,6.875500e+04,7.199500e+04,Dominica,7.297800e+04
31,NaN,4.276725e+07,4.727909e+07,NaN,4.917650e+07,4.587074e+07,4.413205e+07,Ukraine,4.997392e+07
32,NaN,1.462368e+06,1.656783e+06,NaN,2.026350e+06,2.055004e+06,2.072531e+06,North Macedonia,1.907023e+06
33,NaN,2.512284e+06,3.023443e+06,NaN,6.998023e+06,9.445710e+06,1.264312e+07,Benin,3.833939e+06
34,NaN,2.779327e+06,3.619090e+06,NaN,5.958482e+06,6.114034e+06,6.292731e+06,El Salvador,4.508992e+06
35,NaN,1.334400e+05,1.728330e+05,NaN,4.299780e+05,5.403940e+05,6.911910e+05,Solomon Islands,2.336680e+05
36,NaN,1.884849e+08,2.417265e+08,NaN,5.530892e+08,7.395260e+08,9.842134e+08,Pre-demographic dividend,3.208903e+08
37,NaN,1.642331e+06,1.859091e+06,NaN,2.612205e+06,2.733896e+06,2.820436e+06,Jamaica,2.135546e+06
38,NaN,2.325500e+05,2.413970e+05,NaN,2.646570e+05,2.747110e+05,2.806930e+05,Barbados,2.535750e+05
39,NaN,6.742800e+04,8.648400e+04,NaN,1.026030e+05,1.073830e+05,1.052540e+05,Tonga,9.670800e+04
40,NaN,5.128650e+05,5.922440e+05,NaN,1.726985e+06,2.091664e+06,2.546402e+06,Botswana,9.385780e+05
41,NaN,5.073342e+06,6.639751e+06,NaN,1.621643e+07,2.173105e+07,2.822518e+07,Madagascar,8.948162e+06
42,NaN,4.582000e+03,6.663000e+03,NaN,1.037700e+04,1.024100e+04,1.231500e+04,Nauru,7.635000e+03
43,NaN,1.602052e+06,2.201432e+06,NaN,4.569132e+06,5.267970e+06,6.250438e+06,Turkmenistan,2.862903e+06
44,NaN,2.172300e+06,2.959900e+06,NaN,4.898400e+06,5.447900e+06,6.579900e+06,Kyrgyz Republic,3.617400e+06
45,NaN,9.602006e+06,9.858071e+06,NaN,1.025506e+07,1.047441e+07,1.069786e+07,Czechia,1.030419e+07
46,NaN,7.801386e+08,8.732819e+08,NaN,1.102140e+09,1.180459e+09,1.241726e+09,High income,9.576090e+08
47,NaN,1.426986e+06,1.909177e+06,NaN,5.154790e+06,6.491988e+06,6.653942e+06,Libya,2.962720e+06
48,NaN,1.894829e+06,2.408787e+06,NaN,5.123819e+06,5.768613e+06,6.618695e+06,Paraguay,3.078912e+06
49,NaN,2.358000e+06,2.718000e+06,NaN,3.810605e+06,3.721525e+06,3.281557e+06,Puerto Rico,3.206000e+06
50,NaN,8.473000e+03,1.053300e+04,NaN,3.965800e+04,5.407400e+04,6.731100e+04,Cayman Islands,1.710000e+04
51,NaN,4.805790e+05,5.124070e+05,NaN,6.049500e+05,6.194280e+05,6.213060e+05,Montenegro,5.726080e+05
52,NaN,1.806710e+08,2.050520e+08,NaN,2.821624e+08,3.093271e+08,3.315115e+08,United States,2.272250e+08
53,NaN,2.034974e+07,2.384280e+07,NaN,3.707077e+07,4.078845e+07,4.537676e+07,Argentina,2.802480e+07
54,NaN,5.711924e+08,7.203992e+08,NaN,1.406945e+09,1.660546e+09,1.882532e+09,South Asia,9.049931e+08