# Graded: 5 of 5 correct
- [x] Compute the list of all manufacturers whose "Real-World Comb MPG" was higher than 25
- [x] Find the list of all manufacturers whose real-world comb MPG was higher that 25 AND whose 0-60 time is less than 8 seconds
- [x] What was the HP for GM vehicles?
- [x] What were the real-world comb MPG and weight for VW?
- [x] Create a Numpy array that has the real-world comb MPG, weight and 0-60 time (in that order) for Ford, VW and Honda (in that order)

Comments:

## Unit 5 Numpy_Boolean_Selection Quiz
* The objective of this quiz is to understand how to use boolean arrays for selecting subsets from Numpy arrays.

In [1]:
## Import Numpy and check version
import numpy as np
print(f"Numpy version is {np.__version__}")
import pickle
import comp116

Numpy version is 2.0.1

### Boolean arrays are very useful in selecting subsets of arrays.
* Boolean array selection is useful not just for Numpy arays but also Pandas data frames.
* In this quiz you will be working with fuel economy data for selected autmotive vehicle manufacturers for the year 2017.
    * You can get current data similar to this from [here](https://www.fueleconomy.gov/feg/download.shtml).
    * The data you get will need to be cleaned up to get into a format like what we are using in this quiz.
* You will be reading in 3 Numpy arrays, `data_var_names`, `manufacturer_names`, and `mpgData`.
    * `data_var_names` is the array of the type of data that has been read in.
    * `manufacturer_names` is the array of the names of the manufacturer.
    * `mpgData` is the data itself
* You should consider these three arrays as jointly describing a table.
    * `data_var_names` is the first row of the table with headers;
    * `manufacturer_names` is the first column of row labels;
    * `mpgData` is the data itself
    
* When you learn about pandas, you will see that the pandas data frame is an elegant way of keeping these 3 pieces of information in one object, the data frame. For now, we work with numpy arrays.

In [2]:
### Read the pickle file
with open('fuel_economy.data.pickle', 'rb') as fid:
    (data_var_names, manufacturer_names, mpgData) = pickle.load(fid)
comp116.array_to_html(mpgData, row_names=manufacturer_names, col_names=data_var_names,
                      title='2017 Fuel Economy data by Manufacturer')

### For the rest of this quiz, you should use comparisons and boolean values to select subsets. You should not make use of the absolute index of the data.
* For example, you know that `"Real-World Comb MPG"` is in the column with index 0, and `"Ford"` is the row with index 2 in `mpgData`. But do not use `mpgData[2, 0]` to get to the real-world mpg data for Ford. Look at the course lecture on this topic to refresh.

### Compute the list of all manufacturers whose `"Real-World Comb MPG"` was higher than 25.

In [3]:
# GET THE COLUMN
col_mpg = (data_var_names == "Real-World Comb MPG")
col_mpg

array([ True, False, False, False, False])

In [4]:
# GET THE ROWS
row_mpg_over25 = (mpgData[:, col_mpg] >= 25)
row_mpg_over25 = np.reshape(row_mpg_over25, len(row_mpg_over25))
row_mpg_over25

array([False,  True, False, False,  True,  True,  True,  True,  True,
        True, False,  True,  True])

In [5]:
# By Compute, I assume you want the total numbers of column mpg that has value over 25?
dataMpgOver25 = mpgData[row_mpg_over25, :][:, col_mpg]
print("data: ", dataMpgOver25)
print("\ntotal is ", np.sum(dataMpgOver25))

data:  [[25.3]
 [27.1]
 [29.4]
 [28.6]
 [28.5]
 [26.5]
 [27.2]
 [25.9]
 [29. ]]

total is  247.5

### Find the list of all manufacturers whose real-world comb MPG was higher that 25 AND whose 0-60 time is less than 8 seconds

In [6]:
# Your code here
# GET COL TIME <= 8
col_time8 = (data_var_names == "0-60 Time (s)")

# MPG 25 AND TIME <= 8
col_mpg25_8s = col_mpg | col_time8

# GET ROWS THAT QUALIFIED
row_mpg25_8s = (mpgData[:, col_mpg] >= 25) & (mpgData[:, col_time8] <= 8)
row_mpg25_8s = np.reshape(row_mpg25_8s, len(row_mpg25_8s))

# NOT GET THE DATA
data_mpg25_8s = mpgData[row_mpg25_8s, :][:, col_mpg25_8s]

comp116.array_to_html(data_mpg25_8s, row_names=manufacturer_names[row_mpg25_8s], col_names=data_var_names[col_mpg25_8s])

### What was the HP for GM vehicles?

In [10]:
col_gm = data_var_names == "HP"
row_gm = manufacturer_names == "GM"
comp116.array_to_html(mpgData[row_gm,:][:, col_gm], row_names=manufacturer_names[row_gm], col_names=data_var_names[col_gm])

### What were the real-world comb MPG and weight for VW?

In [17]:
col_lbs = (data_var_names == "Weight (lbs)")
col_vw = col_lbs | col_mpg
row_vw = (manufacturer_names == "VW")
comp116.array_to_html(mpgData[row_vw,:][:, col_vw], row_names=manufacturer_names[row_vw], col_names=data_var_names[col_vw])

### Create a Numpy array that has the real-world comb MPG, weight and 0-60 time (in that order) for Ford, VW and Honda (in that order)

In [21]:
col_fvh = col_mpg | col_lbs | col_time8
row_fvh = row_vw | (manufacturer_names == "Ford") | (manufacturer_names == "Honda")
comp116.array_to_html(mpgData[row_fvh,:][:, col_fvh], row_names=manufacturer_names[row_fvh], col_names=data_var_names[col_fvh])