In [1]:
import pandas as pd

# Creating a sample DataFrame with a MultiIndex
data = {
    'Vehicle': ['Sedan', 'Sedan', 'Sedan', 'SUV', 'SUV', 'SUV', 'Truck', 'Truck'],
    'Make': ['Toyota', 'Ford', 'Honda', 'Honda', 'Acura', 'Toyota', 'Toyota', 'Ford'],
    'MPG': [33, 32, 36, 27, 24, 26, 22, 21],
}

df = pd.DataFrame(data)
df

  Vehicle    Make  MPG
0   Sedan  Toyota   33
1   Sedan    Ford   32
2   Sedan   Honda   36
3     SUV   Honda   27
4     SUV   Acura   24
5     SUV  Toyota   26
6   Truck  Toyota   22
7   Truck    Ford   21

In [2]:
# Creating a MultiIndex using set_index
multi_df = df.set_index(['Vehicle', 'Make'])
multi_df

                MPG
Vehicle Make
Sedan   Toyota   33
        Ford     32
        Honda    36
SUV     Honda    27
        Acura    24
        Toyota   26
Truck   Toyota   22
        Ford     21

In [3]:
# Accessing data with a MultiIndex
multi_df.loc['Sedan']

        MPG
Make
Toyota   33
Ford     32
Honda    36

In [4]:
# Accessing data with a MultiIndex
multi_df.xs('Ford', level='Make')

         MPG
Vehicle
Sedan     32
Truck     21

In [5]:
multi_df.loc['SUV', 'Acura']

MPG    24
Name: (SUV, Acura), dtype: int64

In [6]:
# Sorting the MultiIndex
multi_df.sort_index(inplace=True)
multi_df

                MPG
Vehicle Make
SUV     Acura    24
        Honda    27
        Toyota   26
Sedan   Ford     32
        Honda    36
        Toyota   33
Truck   Ford     21
        Toyota   22

In [7]:
# Stacking and Unstacking
unstacked_df = multi_df.unstack('Make')
unstacked_df

          MPG
Make    Acura  Ford Honda Toyota
Vehicle
SUV      24.0   NaN  27.0   26.0
Sedan     NaN  32.0  36.0   33.0
Truck     NaN  21.0   NaN   22.0

In [8]:
stacked_df = unstacked_df.stack('Make', future_stack=True)
stacked_df

                 MPG
Vehicle Make
SUV     Acura   24.0
        Ford     NaN
        Honda   27.0
        Toyota  26.0
Sedan   Acura    NaN
        Ford    32.0
        Honda   36.0
        Toyota  33.0
Truck   Acura    NaN
        Ford    21.0
        Honda    NaN
        Toyota  22.0

In [9]:
newunstacked_df = multi_df.unstack("Vehicle")

In [11]:
newunstacked_df

          MPG
Vehicle   SUV Sedan Truck
Make
Acura    24.0   NaN   NaN
Ford      NaN  32.0  21.0
Honda    27.0  36.0   NaN
Toyota   26.0  33.0  22.0

In [12]:
# Aggregating data with MultiIndex
multi_df.groupby('Make')['MPG'].mean()

Make
Acura     24.0
Ford      26.5
Honda     31.5
Toyota    27.0
Name: MPG, dtype: float64

In [13]:
multi_df.groupby('Make')['MPG'].median()

Make
Acura     24.0
Ford      26.5
Honda     31.5
Toyota    26.0
Name: MPG, dtype: float64

In [14]:
multi_df.groupby('Vehicle')['MPG'].mean()

Vehicle
SUV      25.666667
Sedan    33.666667
Truck    21.500000
Name: MPG, dtype: float64

In [15]:
# Resetting the MultiIndex
multi_df.reset_index()

  Vehicle    Make  MPG
0     SUV   Acura   24
1     SUV   Honda   27
2     SUV  Toyota   26
3   Sedan    Ford   32
4   Sedan   Honda   36
5   Sedan  Toyota   33
6   Truck    Ford   21
7   Truck  Toyota   22

In [24]:
# Read csv
emissions = pd.read_csv("MY2023_Fuel_Consumption_Ratings.csv")
emissions.head()

,Model Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
0,2023,Acura,Integra,Full-size,1.5,4,AV7,Z,7.9,6.3,7.2,39,167,6,7
1,2023,Acura,Integra A-SPEC,Full-size,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
2,2023,Acura,Integra A-SPEC,Full-size,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
3,2023,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
4,2023,Acura,MDX SH-AWD Type S,SUV: Standard,3.0,6,AS10,Z,13.8,11.2,12.4,23,291,4,5

In [25]:
emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Model Year                        823 non-null    int64
 1   Make                              823 non-null    object
 2   Model                             823 non-null    object
 3   Vehicle Class                     823 non-null    object
 4   Engine Size (L)                   823 non-null    float64
 5   Cylinders                         823 non-null    int64
 6   Transmission                      823 non-null    object
 7   Fuel Type                         823 non-null    object
 8   Fuel Consumption City (L/100 km)  823 non-null    float64
 9   Fuel Consumption Hwy (L/100 km)   823 non-null    float64
 10  Fuel Consumption Comb (L/100 km)  823 non-null    float64
 11  Fuel Consumption Comb (mpg)       823 non-null    int64
 12  CO2 Emissions (g/km)              823 non-null    int64
 13  CO2 Rating                        823 non-null    int64
 14  Smog Rating                       823 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 96.6+ KB

In [26]:
# Drop model year and make multiindex
emissions = emissions.drop(columns="Model Year")
emissions = emissions.set_index(["Make", "Vehicle Class"])
emissions.head()

                                 Model  Engine Size (L)  Cylinders  \
Make  Vehicle Class
Acura Full-size                Integra              1.5          4
      Full-size         Integra A-SPEC              1.5          4
      Full-size         Integra A-SPEC              1.5          4
      SUV: Small            MDX SH-AWD              3.5          6
      SUV: Standard  MDX SH-AWD Type S              3.0          6

                    Transmission Fuel Type  Fuel Consumption City (L/100 km)  \
Make  Vehicle Class
Acura Full-size              AV7         Z                               7.9
      Full-size              AV7         Z                               8.1
      Full-size               M6         Z                               8.9
      SUV: Small            AS10         Z                              12.6
      SUV: Standard         AS10         Z                              13.8

                     Fuel Consumption Hwy (L/100 km)  \
Make  Vehicle Class
Acura Full-size                                  6.3
      Full-size                                  6.5
      Full-size                                  6.5
      SUV: Small                                 9.4
      SUV: Standard                             11.2

                     Fuel Consumption Comb (L/100 km)  \
Make  Vehicle Class
Acura Full-size                                   7.2
      Full-size                                   7.4
      Full-size                                   7.8
      SUV: Small                                 11.2
      SUV: Standard                              12.4

                     Fuel Consumption Comb (mpg)  CO2 Emissions (g/km)  \
Make  Vehicle Class
Acura Full-size                               39                   167
      Full-size                               38                   172
      Full-size                               36                   181
      SUV: Small                              25                   263
      SUV: Standard                           23                   291

                     CO2 Rating  Smog Rating
Make  Vehicle Class
Acura Full-size               6            7
      Full-size               6            7
      Full-size               6            6
      SUV: Small              4            5
      SUV: Standard           4            5

In [27]:
# Make a cross section
emissions.xs("Full-size", level="Vehicle Class").head(10)

,Model,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
Make,,,,,,,,,,,,
Acura,Integra,1.5,4,AV7,Z,7.9,6.3,7.2,39,167,6,7
Acura,Integra A-SPEC,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
Acura,Integra A-SPEC,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
Audi,A8 L Sedan 55 TFSI quattro,3.0,6,AS8,Z,12.5,8.3,10.6,27,247,5,5
Audi,S8 Sedan quattro,4.0,8,AS8,Z,15.9,10.3,13.4,21,313,4,3
BMW,760i xDrive Sedan,4.4,8,AS8,Z,13.0,9.1,11.3,25,261,4,5
Chrysler,300,3.6,6,A8,X,12.4,7.8,10.3,27,242,5,5
Chrysler,300,5.7,8,A8,X,14.7,9.4,12.3,23,289,4,3
Chrysler,300 AWD,3.6,6,A8,X,12.8,8.7,11.0,26,258,4,5
Chrysler,300C,6.4,8,A8,Z,15.9,9.6,13.1,22,307,4,1

In [28]:
# Can cross section using multiple levels
emissions.xs(("Full-size", "Honda"), level=("Vehicle Class", "Make"))

                               Model  Engine Size (L)  Cylinders Transmission  \
Make  Vehicle Class
Honda Full-size               Accord              1.5          4           AV
      Full-size      Civic Hatchback              1.5          4          AV7
      Full-size      Civic Hatchback              1.5          4           M6
      Full-size      Civic Hatchback              2.0          4           AV
      Full-size      Civic Hatchback              2.0          4           M6
      Full-size         Civic Type R              2.0          4           M6

                    Fuel Type  Fuel Consumption City (L/100 km)  \
Make  Vehicle Class
Honda Full-size             X                               8.1
      Full-size             X                               7.7
      Full-size             X                               8.5
      Full-size             X                               8.0
      Full-size             X                               9.1
      Full-size             Z                              10.8

                     Fuel Consumption Hwy (L/100 km)  \
Make  Vehicle Class
Honda Full-size                                  6.4
      Full-size                                  6.3
      Full-size                                  6.3
      Full-size                                  6.2
      Full-size                                  6.6
      Full-size                                  8.3

                     Fuel Consumption Comb (L/100 km)  \
Make  Vehicle Class
Honda Full-size                                   7.3
      Full-size                                   7.1
      Full-size                                   7.5
      Full-size                                   7.2
      Full-size                                   8.0
      Full-size                                   9.7

                     Fuel Consumption Comb (mpg)  CO2 Emissions (g/km)  \
Make  Vehicle Class
Honda Full-size                               39                   171
      Full-size                               40                   166
      Full-size                               38                   175
      Full-size                               39                   167
      Full-size                               35                   186
      Full-size                               29                   224

                     CO2 Rating  Smog Rating
Make  Vehicle Class
Honda Full-size               6            7
      Full-size               6            7
      Full-size               6            6
      Full-size               6            7
      Full-size               6            6
      Full-size               5            6

In [29]:
# Aggregation on cross sections
emissions.xs("Full-size", level="Vehicle Class").groupby("Cylinders").mean(numeric_only=True)

,Engine Size (L),Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
Cylinders,,,,,,,,
4,1.935000,8.830000,6.695000,7.880000,36.450000,184.700000,5.850000,6.150000
6,3.309091,13.290909,8.845455,11.290909,25.090909,264.272727,4.363636,4.545455
8,5.181818,15.690909,9.954545,13.118182,21.818182,307.181818,3.727273,2.636364
12,6.700000,20.020000,12.860000,16.820000,17.000000,391.600000,2.000000,3.000000